* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;

}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #10232c;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: blue;
}

.navbar-menu-toggle {
    display: none;
    cursor: pointer;
}

/*side navbar*/
.side-navbar {
    background-color: #10232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: -60%;
    /* for hiding sidebar */
    padding: 20px;
    color: white;
    transition: 2s;
    /*style for side bar*/
}

.side-navbar-links {
    margin-bottom: 20px;

}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

/*header */
.header {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.service {
    padding: 20px;

}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    background-color: #f4f4f7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #10232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.new input {
    padding: 11px;
    width: 80vb;
    margin-top: 10px;
    border: solid black 3px;
}

.new button {
    margin-top: 10px;
    color: #f4f4f7;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #10232c;
    color: #f4f4f7;
}

.product-section {
    margin-top: 20px;
}

.product-search {
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
text-align: center;
flex-basis: 70px;
margin-top: 10px;
}
.products-box img{
    border-radius: 10px;
    

}


/* media query */
@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    /* hide the image in mobile */
    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }


}